.about-container {
  margin-top: 100px;
    padding: 20px;
    max-width: 800px;
    font-family: 'Arial', sans-serif;
    color: #333; /* Dark gray for text */
  }
  
  h1, h2 {
    color: #27a35d; /* Green color for headings */
    margin-bottom: 10px;
  }
  
  p {
    line-height: 1.6; /* Better readability */
    margin-bottom: 20px;
  }
  
  a {
    color: #2847e2; /* Blue color for links */
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  